/* 标签初始化 */
/* 顶部导航栏和底部底部导航栏样式 */
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

@media screen and (max-width: 1920px){
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1680px){
  html {
    font-size: 16.8px;
  }
}

@media screen and (max-width: 1536px){
  html {
    font-size: 15.36px;
  }
}

@media screen and (max-width: 1440px){
  html {
    font-size: 14.4px;
  }
}

@media screen and (max-width: 1366px){
  html {
    font-size: 13.66px;
  }
}

@media screen and (max-width: 1280px){
  html {
    font-size: 12.8px;
  }
}

@media screen and (max-width: 1224px){
  html {
    font-size: 12.24px;
  }
}

html, body {
  width: 100%;
}

body {
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: #000;
}

div {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* 顶部导航栏样式 */
.head-nav {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.head-nav-pic {
  width: 15.7rem;
  position: absolute;
  left: 13%;
  top: 20%;
}

.head-nav-pic img {
  width: 100%;
}

.head-nav-links {
  float: right;
  width: 66.5%;
  margin: 3.6rem 2.8rem 3.6rem 0; 
}

.head-nav-links ul {
  width: 100%;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
}

/* 顶部每个导航item样式 */
.links_item {
  height: 3.4rem;
  width: 7.8rem;
  font-size: 1.8rem;
  border-right: 1.5px solid black;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  justify-content: center;
  line-height: 3.4rem;
}
.links_item a{
  width: 100%;
  text-align: center;
}
.links_item.platform {
  width: 8.35rem;
  line-height: 1.7rem;
}

.links_item.mall {
  width: 7.1rem;
}

.links_item.contactUs {
  width: 8.6rem;
  border-right: none;
}

.links_item a {
  color: black;
}

/* 底部导航栏样式 */
.footer-nav {
  width: 100%;
  color: white;
  background-color: #157c83;
  /* padding-top: 1.75rem; */
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  flex-direction: column;
}

.footer-nav-links {
  width: 100%;
  display: none;
}

.links-wrapper {
  margin: 0 auto;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  justify-content: center;
}

/* 底部图标栏 */
.links-wrapper-item {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  width: 8rem;
  align-items: center;
  flex-direction: column;
  min-width:120px;
}

.img_wrapper {
  width: 4rem;
  height: 4rem;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
}

.img_wrapper img {
  width: 2rem;
}
.img_wrapper .about-us{
  width: 2.8rem;
}
.img_wrapper .contact-us{
  width: 2.85rem;
}
.img_wrapper .copyright{
  width: 1.75rem;
}
.links-wrapper-item .item-name {
  margin-top: 1.2rem;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

.item-name.distanceOne {
  letter-spacing: 0.2rem;
}

.item-name.distanceTwo {
  letter-spacing: 0.6rem;
}

.links-wrapper a{
  color: #fff;
}

.links-wrapper-item .item-english_name {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  white-space: nowrap;
}

.links-wrapper-item .item-english_name.spaceOne {
  letter-spacing: 0.15rem;
}

.links-wrapper-item .item-english_name.spaceTwo {
  letter-spacing: 0.25rem;
}

/* 底部公司信息  */
.footer-company_desc {
  flex: 1;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  justify-content: center;
}

.company_desc-wrapper {
  width: 67.08%;
  /* margin-top: 3rem; */
  padding: 3rem 0;
  font-size: 0.85rem;
  /* border-top: 1px solid white; */
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desc-name {
  margin-bottom: 0.6rem;
}   

.company_desc-wrapper a  {
  color: #fff;
}
@media screen and (max-width: 480px) {
  html{
    font-size: 5px;
  }
  body {
    min-width: 100%;
  }
  
  .head-nav-pic {
    width: 28%;
    left: 3%;
  }
  .links_item.contactUs{
    width: 12rem;
  }
  .head-nav-links{
    margin: 2.3rem 2.8rem 3.6rem 0; 

  }
  .head-nav-pic img {
    width: 100%;
  }
  .head-nav-links ul{
    flex-wrap: wrap;
  }
  .links_item {
    width: 24%;
    font-size: 12.5px;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid black;
  }
  .links_item.platform {
    line-height: 13.5px;
  }
  .links_item.platform ,
  .links_item.mall,
  .links_item.contactUs{
    width: 24%;
  }
  .links_item.enterprise{
    border: none;
  }

  .company_desc-wrapper{
    font-size: 1.75rem;
  }
}
