
/* 顶部导航栏下面的图片模块 */
.section-pic img {
  width: 100%;
}

/* main */
.main{
  width: 100%;
  padding: 4.2rem 0rem 3.4rem;
}
.main-title{
  width: 87.03%;
  margin: 0 auto;
  font-size: 2.4rem;
  text-align: center;
  border-bottom: 1px solid ;
  padding-bottom: 2rem;
}
.content-name{
  width: 100%;
  margin: 1.2rem 0 0.5rem;
  overflow: hidden;
  
}
.name_desc{
  width: 54.11%;
  height: 32.95rem;
  padding: 3.8rem 0 0 7.65rem;
  font-size: 0;
  border-right: 1px solid #a7a7a7;
  float: left;
}
.name_desc .span{
  display: block;
  font-weight: bold; font-size: 3rem;
}
.name_desc span.span-one{
  font-size: 2.4rem;
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
  font-weight: normal;

}
.span-two{
  font-size:1.8rem ;
}
.name_desc .span-two.three{
  margin-left: 2rem;
}

.name_pic{
  width: 36.66%;
  margin-right: 6.9rem;
  margin-top: 2.9rem;
  float: right;

}
.name_pic img{
  width: 100%;
}
/* 标题部分公共样式 */
.section{
  width: 100%;
}
.section-title{
  width: 87.03%;
  padding: 0 0 1.1rem 2.25rem;
  font-size: 2.4rem;
  border-bottom: 1px solid #000;
  margin: 0 auto;
}
/* 配置参数 */
.configuration-main{
 padding: 3.5rem 0 0 11.05rem;
 width: 100%;
 flex-wrap: wrap;
 display: flex;
}
.configuration_item{
width: 31%;
display: flex;
margin-bottom: 4rem;    
}
.configuration_item.longer{
 width: 38%;
}
.item-pic{
width: 4.75rem;
margin-right: 2rem;
}
.item-pic img{
 width: 100%;
}
.item-desc{
display: flex;
flex-direction: column;
justify-content: center;

}
.item-desc span{
font-size: 1.8rem;
text-align: left;
}
.small{
font-size: 1.5rem !important;
}
/* 详细配置 */
@media  screen and (max-width: 480px){
  html{
    font-size: 5px;
  }
  .section-pic{
    display: none;
  }
  .main-title{
    font-size: 2.7rem;
  }
  .name_desc{
    border: 0;
    width: 90%;
    height: auto;
    float: none;
    padding:3.8rem 0 0 5rem;
    
  }
  .name_desc .span{
    font-size: 3rem;
  }
  .name_desc span.span-one{
   font-size: 2.4rem;
  }
  .span-two{
    font-size: 2.1rem;
    margin: 1rem 0 1rem 0;
  }
  .name_pic{
    width: 84%;
    margin: 0 auto;
    float: none;
    padding-bottom: 2rem;
  }
  .section-title{
    font-size: 2.5rem;
  }
  .configuration-main{

    flex-wrap: wrap;
    padding: 3.5rem 0 0 5rem;
  }
  .configuration_item{
    flex: 50%;
    
  }
  .item-pic{
    width: 7rem;
  }
  .item-desc span{
    font-size: 1.5rem;
  }
  .small{
    font-size: 1.5rem !important;
  }
  .detail-main{
    padding: 3.5rem 4rem 2.8rem;
  }
  table tr{
    font-size: 1.5rem;
  }
  tr td, tr th{
    line-height: 3rem;
    padding: 0 0.3rem;
  }
  .function-main table th{
    font-size: 1.5rem;
  }
  .function-main {
    padding: 3.5rem 4rem 2.8rem;
  }
 
}