@media screen and (min-width:1680px) and (max-width:1920px){
  html {
    font-size: 19.2px;
  }
}

.banner {
  width: 100%;
}

.banner img{
  width: 100%;
}

.scheme {
  width: 100%;
}

.scheme-title {
  margin-top: 3.906rem;
  text-align: center;
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.scheme-title-leftLine, .scheme-title-rightLine {
  width: 11.719rem;
  height: 1px;
  background-color: #000;

}

.scheme-title-text {
  padding: 0 1.667rem;
  font-size: 3.385rem;
}


.scheme-content {
  width: 100%;
  /* height: 40.75rem; */
  margin-top: 6.823rem;
  /* background-image: url(./img/bg.png);
  -webkit-background-size: 100% 140%;
  -moz-background-size: 100% 140%;
  -o-background-size: 100% 140%;
  background-position: 0 -10rem; */
}

.scheme-content-items {
  width: 84.4%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

.item {
  width: 16.66%;
  float: left;
  text-align: center;
}

.item .item-icon {
  margin: 0 auto;
  width: 5.927rem;
  height: 5.927rem;
}

.item .item-icon img {
  width: 100%;
}

.item .item-text {
  font-size: 1.875rem;
  text-align: center;
  padding: 2.396rem 0;
  line-height: 2.275rem;
}

.scheme-detail {
  margin-top: 3.8rem;
  margin-left: 12.6rem;
  font-size: 1.875rem;
  font-weight: 400;
}

.scheme-detail p {
  padding: 1.08rem 0;
}

.scheme-detail-title {
  font-size: 1.875rem;
  color: #0036A2;
}

.product-title {
  font-size: 3.185rem;
  padding: 3.385rem 0;
  text-align: center;
  font-weight: 300;
}

.product-desc {
  width: 100%;
  background-color: #ececec;
  padding: 3.875rem 3.906rem 5.479rem 4.6875rem;

  box-sizing: border-box;
}

.function {
  margin-bottom: 8.75rem;
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
}

.function:last-child {
  margin-bottom: 0;
}

.function-img {
  width: 46.7%;
}

.function-img img {
  width: 100%;
}

.function-content-title {
  font-size: 3.125rem;
}

.function-content ul {
  width: 100%;
  margin-left: 1.7rem;
  margin-top: 10px;
}

.function-content ul li {
  width: 100%;
  list-style-type: disc;
}

.right {
  margin-left: 3.125rem;
  width: 50.4%;
}

.left {
  margin-right: 3.525rem;
  width: 50.4%;
}

.rightText, .leftText{
  font-size: 1.5625rem;
  line-height: 2.5rem;
}

/* 方案1 2 */
.process {
  text-align: center;
  width: 100%;
  margin-bottom: 3.906rem;
}

.process-title {
  font-size: 3.385rem;
  padding: 4.6875rem 0; 
  font-weight: 300;
}

.process-solve{
  width: 78.4%;
  margin: 0 auto;
}

.process-solve img {
  width: 100%;
}

/* 方案3 4 5 6 */
.powerGrid {
  margin-top: 2rem;
  margin-bottom: 1.1rem;
  text-align: center;
}

.powerGrid-title {
  padding: 3.85rem 0;
}

.powerGrid-img {
  width: 41.98%;
  margin: 0 auto;
}

.powerGrid-img img {
  width: 100%;
}

.powerGrid-title span {
  font-size: 3rem;
  font-weight: 300;
}

.scheme1, .scheme2, .scheme3, .scheme4, .scheme5, .scheme6 {
  display: none;
}

.item-icon:hover, .item-text:hover {
  cursor: pointer;
}



/* 充换电云平台 */
.platforms {
  width: 100%;
  overflow: hidden;
}

.platform-content {
  overflow: hidden;
  padding: 2rem 2rem 2rem 5rem; 
}

.platform-content-img {
  position: relative;
  width: 51.9%;
  height: 32rem;
  margin-top: 3.125rem;
  float: left;
}

.form1 {
  position: absolute;
  width: 98.6%;
}

.form2 {
  position: absolute;
  width: 77%;
  top: 10%;
  left: 10.26rem;
}

.platform-content-text {
  width: 42%;
  margin-top: 2.6rem;
  margin-left: 3.125rem;
  float: left;
}

.text-title {
  font-size: 3rem;
}

.text-title span {
  display: block;
  padding: 0.1rem 0;
}

.text-content ul {
  width: 100%;
  padding: 0;
  margin-left: 1rem;
}

.text-content li {
  list-style-type: disc;
}

.text-content {
  margin-top: 1rem;
  font-size: 1.5625rem;
}


/* 换电柜 */
.power_cabinet {
  width: 100%;
}

.power_cabinet .functions-img {
  width: 46.7%;
  position: relative;
}

.power_cabinet .functions-img img {
  position: absolute;
}

.ware12 {
  position: absolute;
  width: 53.9%;
  z-index: 10;
}

.ware8 {
  position: absolute;
  width: 39.9%;
  left: 20.9rem;
  top: -1.2rem;
  z-index: 9;
}

/* 小程序 */
.miniApp-title {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 400;
}

.miniApp-content {
  width: 96.1%;
  margin: 3.8rem auto;
}

.miniApp-content img {
  width: 100%;
}

/* .miniApp-title {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 400; 
} */

.functions-img-mob {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (max-width:480px){
  html {
    font-size: 6px;
  }
  .banner {
    display: none;
  }

  .scheme-content-items {
    width: 90%;
  }
  .item {
    width: 33%;
  }

  .item .item-text {
    font-size: 1.8rem;
  }

  .scheme-detail {
    padding-left: 30px;
    margin: 0 auto;
    width: 90%;
    font-size: 1.875rem;
  }

  .function {
    display: block;
  }

  

  .function-img, .function-content {
    width: 90%;
    margin: 0 auto;
  }

  .rightText, .leftText {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .platform-content {
    padding: 50px 0;
  }

  .platform-content-img, .platform-content-text {
    float: none;
  }

  .platform-content-img {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .form1 {
    width: 90%;
  }

  .form2 {
    width: 78%;
  }

  .platform-content-text {
    width: 85%;
    margin: 0 auto;
  }

  .text-content {
    font-size: 2.5rem;
  }

  .functions-img {
    height: 230px;
    width: 100%;
    left: 20px;
  }

  .ware12 {
    width: 100%;
  }
  .ware8 {
    width: 68%;
    top: 5px;
  }
  .flex {
    display: block;
  }

  .scheme5 {
    display: none;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  .function-img img {
    margin-bottom: 20px;
  }
  
}


